layout python3

# Automatically install dependencies when requirements.txt changes
LAST_INSTALLED_DEPENDENCIES_FLAG="$VIRTUAL_ENV/.dependencies_installed" 
DEV_REQUIREMENTS_FILE="./requirements.txt"

if [ ! -f $LAST_INSTALLED_DEPENDENCIES_FLAG ] || [ $DEV_REQUIREMENTS_FILE -nt $LAST_INSTALLED_DEPENDENCIES_FLAG ]; then
    echo "Installing dependencies..."
    pip install -r $DEV_REQUIREMENTS_FILE
    touch $LAST_INSTALLED_DEPENDENCIES_FLAG
fi

PATH_add "./tools"